<%- include("partials/header") -%>

<% for (let i =0; i<books.length; i++){ %>
  <h1><%= books[i].title %></h1>
  <p>
    <%= books[i].mainTheme.substring(0,100) + "..." %>
    <a href="/posts/<%= books[i].title %>">Get the Full Summary</a>
  </p>
<% }; %>

<%- include("partials/footer") -%>
    

